<div class="card-body">
    <h5>Clima</h5>
    <hr>
    <div class="row text-center align-items-center h-100">
        <span *ngIf="error else weatherTemplate" class="mx-auto phrase mt-3">No hay registro para esa ciudad 😧</span>
        <ng-template #weatherTemplate>
            <div *ngIf="loadingWeather else dataWeatherTemplate" class="spinner-border text-center mx-auto mt-3" role="status"></div>
            <ng-template #dataWeatherTemplate>
                <div class="col icon-container mx-auto">
                    <img src="{{ weather.icon }}" class="icon">
                </div>
                <div class="col temp-container mx-auto">
                    <p class="temp">{{weather.temperature}} C</p>
                    <p class="phrase">{{weather.text}}</p>
                </div>
            </ng-template>
        </ng-template>
    </div>
</div>